.container {
    text-align: center;
    background-color: white;
    align-items: center;
    padding: 30px;
}



.title {
    padding: 20px;
    margin: 20px;
    font-weight: 300;
}

.form-control {
    border-color: #84BF68;
}

.btn-primary {
    background-color: #FBE053;
    border: #FBE053;
    color: black;
}
