.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  border-color: #84BF68;
  position: flex;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 30px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.colreg {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
