/* CARDS NOSOTROS  */

/* .card-container {
    padding: 8%;
} */


.card-title {
    display: flex;
    font-weight: bold;
    font-size: 22px;
    justify-content: center;
    align-content: center;
}

.card-body .card-text {
    display: flex;
    justify-content: justify;
    align-items: justify;
    text-align: justify;
    font-size: 19px;
}

.card-socials {
    background: #84BF68;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    text-align: center;

}

.card-socials a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: linear-gradient(45deg, #FBE053, #84BF68);
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    z-index: 1;
}

.card-socials a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #FBE053, #84BF68);
    border-radius: 50%;
    z-index: -1;
    transform: .5s ease;
}

.card-socials a:hover::before {
    filter: blur(3px);
}

.card-socials a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #84BF68;
    border-radius: 50%;
    transform: scale(0.88);
    z-index: -1;
    transition: .5s ease;
}

.card-socials a:hover::after {
    transform: scale(0);
}


/*Texto de Nosotros*/
.aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: small;
    margin-left: 10%;
    margin-right: 10%;
}

.aboutUs p {
    padding: 3% 8% 3% 8%;
    font-size: 25px;
    background: linear-gradient(to left, rgba(132, 191, 104, .8), rgba(251, 224, 83, .8)), url(../src/img/fondoElotesGrisBot.jpg);
    background-size: cover;
    border-radius: 20px;
    font-weight: 500;
}

/*Tamaño de fotos de participantes */
.card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card-box {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.09);
}

.card-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.2);
}