/*Tamaño de fotos de productos */
.card-img-top{
	width: 200px;
	height: 200px;
	object-fit: cover;}

  
 
 .card-title {
	font-weight: bold;
	margin-bottom: 30px;
  }

  .card-text{
	text-align: justify;
  }